.image{
    height: auto;
    width: auto;
    display: block;
}
.image_phone{
    height: auto;
    width: auto;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@media only screen and (max-width:700px){
    .image{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 60px;
        width: auto;
        /* border: 5px solid white; */
        display: none;
    }
    .image_phone{
        display: block;
    }
}